<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178933263195-07fpr6o0mvreffgbe5n9l7hohqr49o6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178933263195-07fpr6o0mvreffgbe5n9l7hohqr49o6f</string>
	<key>API_KEY</key>
	<string>AIzaSyCMn8HyQ01K6b8xVrBdbD6P9oej91_CheE</string>
	<key>GCM_SENDER_ID</key>
	<string>178933263195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-9cae0</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-9cae0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178933263195:ios:5b8616ab3ba295b3b8887e</string>
</dict>
</plist>